#first-column {
    position: relative;
    width: 40%;
}

#second-column {
    position: relative;
    width: 30%;
}

#third-column {
    position: relative;
    width: 25%;
}

#icon {
    float: left;
}

#full-width {
    position: relative;
    width: 100%;
}

