.extra.content {
    text-align: center;
}

#label {
    color: black;
}

.ui.card {
    margin: 10px 10px 15px;
}

.ui.card:first-child {
    margin: 10px 10px 15px;
}

.ui.card:last-child {
    margin: 10px 10px 15px;
}

#image {
    max-width: 100%;
}
