ion-card-subtitle {
    text-align: center;
    font-size: medium;
}

#category-image {
    max-width: 90%;
    max-height: 182px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width: 500px) {
    #category-image {
        max-height: 250px;
        width: 100%;
    }
}

@media (max-width: 430px) {
    #category-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

#category-card {
    position: relative;
    width: 100%;
}

@media (min-width: 600px) {
    #half-sized-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
    }
}
