#modal-root {
    z-index: 999;
    position: relative;
}

#modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 25%;
    width: 70%;
    position: fixed;
    align-self: center;
    align-items: center;
    color: black;
    text-decoration: black;
}

#ok {
    float: left;
}
