#product-image {
   height:90%
}

#product-content {
    font-size: medium
}

#product-extra-content {
    font-size: medium
}

@media (max-width: 450px) {
    .ui.card:first-child {
        margin: 0 0 0 0
    }

    .ui.card:last-child {
        margin: 0 0 0 0
    }
}

@media (max-width: 330px) {
    #product-card {
        height: 60%
    }

    #product-content {
        font-size: small
    }

    #product-extra-content {
        font-size: smaller
    }
}

@media (width: 375px) and (height: 667px) {
    #product-card {
        width: 90%;
    }

    #product-extra-content {
        font-size: smaller
    }

    #product-content {
        font-size: small
    }

    .ui.basic.blue.button {
        height: 54px
    }

    .ui.basic.pink.button {
        height: 54px
    }

    .ui.basic.red.button {
        height: 54px
    }
}

@media (width: 360px) and (height: 640px) {
    #product-card {
        width: 90%
    }

    #product-extra-content {
        font-size: small
    }

    #product-content {
        font-size: small
    }

    .ui.basic.blue.button {
        height: 55px
    }

    .ui.basic.pink.button {
         height: 55px
     }

    .ui.basic.red.button {
        height: 55px
    }
}

@media (width: 375px) and (height: 812px) {

    .ui.basic.blue.button {
        height: 54px
    }

    .ui.basic.pink.button {
        height: 54px
    }

    .ui.basic.red.button {
        height: 54px
    }
}

