#image {
    max-height: 174px;
    align-items: center;
}

@media (min-width: 500px) {
    ion-card {
        width: 45%;
    }
}

#popover {
    align-self: center;
}

div.popover-content.sc-ion-popover-md {
    width: auto;
}

